@import '@angular/material/theming';


// Define your light and dark themes
$light-theme-primary: mat-palette($mat-indigo);
$light-theme-accent: mat-palette($mat-pink, 500);
$light-theme-warn: mat-palette($mat-red);

$dark-theme-primary: mat-palette($mat-blue-grey);
$dark-theme-accent: mat-palette($mat-light-blue, 500);
$dark-theme-warn: mat-palette($mat-orange);

// Light Theme
$light-theme: mat-light-theme($light-theme-primary, $light-theme-accent, $light-theme-warn);

// Dark Theme
$dark-theme: mat-dark-theme($dark-theme-primary, $dark-theme-accent, $dark-theme-warn);

// Include the default light theme
@include angular-material-theme($light-theme);

// Optional: You can define a class to apply the dark theme
.dark-theme {
  @include angular-material-theme($dark-theme);
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.mat-mdc-snack-bar-container
.mdc-snackbar__surface {
  background-color: lightgray !important;

  .mdc-snackbar__label {
    color: rgb(43, 43, 43);
}
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* STICKY FOOTER CODE from https://codepen.io/dezertdezine/pen/zKjggy */

html {
    height: 100%;  
    font-family: sans-serif;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;    
    margin: 0;
}

header{
    flex-shrink: 0;
    background: yellowgreen;
}


footer{
    flex-shrink: 0;
    background: gray; 
}