<div class="full-container">
  <mat-sidenav-container class="example-container" [hasBackdrop]="false">
    <mat-sidenav #sidenav mode="over" [opened]="isOpened">
      <mat-toolbar class="second-toolbar">
        <mat-form-field appearance="outline" class="search">
          <input
            matInput
            [(ngModel)]="searchQuery"
            (ngModelChange)="onSearchChange()"
            placeholder="Kerko"
          />
          <mat-icon style="color: gray; margin-top: -13px" matPrefix
            >search</mat-icon
          >
        </mat-form-field>
        <button mat-icon-button (click)="toggleSidebar()">
          <mat-icon style="color: gray">menu</mat-icon>
        </button>
      </mat-toolbar>

      <content>
        <mat-nav-list class="folders" *ngIf="!!listFolders">
          <!-- Expansion panel for 'Dosjet e mija' -->
          <mat-expansion-panel [expanded]="isPanelExpanded">
            <mat-expansion-panel-header style="height: 50px">
              <mat-panel-title>
                <img src="/assets/icons/folder-1485.png" />
                <span style="padding-left: 14px; padding-top: 3px"
                  >Dosjet e mija</span
                >
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-tree
            [dataSource]="dataSource"
            [treeControl]="treeControl"
            cdkDropList
            (cdkDropListDropped)="onNodeDrop($event)"
          >
            <!-- Folder Nodes (Top-level folders) -->
            <mat-tree-node
              *matTreeNodeDef="let node; when: hasChild"
              matTreeNodePadding
              cdkDrag
              [cdkDragData]="node"
              (click)="goToFolder(node.id)"
            >
              <mat-list-item class="documents-title">
                <img src="/assets/icons/folder-1485.png" />
                <span class="folder-name"> {{ node.name }} </span>
                <button
                  class="chron-btn"
                  mat-button
                  matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name"
                >
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                  </mat-icon>
                </button>
                <div
                  style="margin-left: -14px; position: absolute; display: inline;"
                >
                  <button mat-button class="chron-btn" [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button
                      mat-menu-item
                      style="color: gray"
                      (click)="saveNode(node)"
                    >
                      <mat-icon style="color: gray; font-size: 20px">edit</mat-icon>
                      <span style="color: gray; font-size: 15px">Ri- emero</span>
                    </button>
                    <button
                      mat-menu-item
                      style="color: gray"
                      (click)="addSubfolder(node)"
                    >
                      <mat-icon style="color: gray; font-size: 20px">add</mat-icon>
                      <span style="color: gray; font-size: 15px">Shto nen- dosje</span>
                    </button>
                    <button
                      mat-menu-item
                      style="color: gray"
                      (click)="deleteFolder(node)"
                    >
                      <mat-icon style="color: gray; font-size: 20px">delete_outline</mat-icon>
                      <span style="color: gray; font-size: 15px">Fshi</span>
                    </button>
                  </mat-menu>
                </div>
              </mat-list-item>
            </mat-tree-node>
          
            <!-- Subfolder Nodes (Nested inside parent folder) -->
            <mat-tree-node
              *matTreeNodeDef="let subfolder"
              matTreeNodePadding
              (click)="goToSubfolder(subfolder)"
            >
              <mat-list-item class="documents-title">
                <img src="/assets/icons/folder-1485.png" />
                <span class="folder-name-nospace"> {{ subfolder.name }} </span>
                <button mat-button class="chron-btn" [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item style="color: gray" (click)="saveNodeSubfolder(subfolder)" >
                    <mat-icon style="color: gray; font-size: 20px">edit</mat-icon>
                    <span style="color: gray; font-size: 15px">Ri- emero</span>
                  </button>
                  <button
                    mat-menu-item
                    style="color: gray"
                    (click)="deleteSubfolder(subfolder)"
                  >
                    <mat-icon style="color: gray; font-size: 20px">delete_outline</mat-icon>
                    <span style="color: gray; font-size: 15px">Fshi</span>
                  </button>
                </mat-menu>
              </mat-list-item>
            </mat-tree-node>
          </mat-tree>
          
          </mat-expansion-panel>
        </mat-nav-list>
      </content>

      <footer class="sidebar-footer">
        <button mat-raised-button (click)="addFolder()">
          <img src="/assets/icons/folder-1485.png" /> Shto Dosje
        </button>
      </footer>
    </mat-sidenav>

    <!-- Main Content Area -->
    <mat-sidenav-content #content>
      <mat-toolbar class="main-toolbar">
        <button
          *ngIf="!isOpened"
          md-button
          mat-icon-button
          (click)="toggleSidebar()"
        >
          <mat-icon style="color: gray">menu</mat-icon>
        </button>
        <span style="color: gray">Mire se vini {{ userName }}</span>
        <span class="spacer"></span>
        <button mat-button (click)="logout()" matTooltip="Dilni">
          <mat-icon style="color: gray">power_settings_new</mat-icon>
        </button>
        <button style="color: gray" mat-button (click)="toggleTheme()">
          <mat-icon *ngIf="isDarkTheme">brightness_high</mat-icon>
          <mat-icon *ngIf="!isDarkTheme">brightness_medium</mat-icon>
        </button>
      </mat-toolbar>

      <div class="dashboard-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
