<div class="full-container">
  <mat-sidenav-container class="example-container" [hasBackdrop]="false">
    <mat-sidenav #sidenav mode="over" [opened]="isOpened">
      <mat-toolbar class="second-toolbar">
        <mat-form-field appearance="outline" class="search">
          <input matInput />
          <mat-icon style="color: gray; margin-top: -13px" matPrefix
            >search</mat-icon
          >
        </mat-form-field>
        <button mat-icon-button (click)="toggleSidebar()">
          <mat-icon style="color: gray">menu</mat-icon>
        </button>
      </mat-toolbar>

      <content>
        <mat-nav-list class="folders" *ngIf="!!listFolders">
          <!-- Expansion panel for 'Dosjet e mija' -->
          <mat-expansion-panel [expanded]="isPanelExpanded">
            <mat-expansion-panel-header style="height: 50px">
              <mat-panel-title>
                <img src="/assets/icons/folder-1485.png" />
                <span style="padding-left: 14px; padding-top: 3px"
                  >Dosjet e mija</span
                >
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-tree
            [dataSource]="dataSource"
            [treeControl]="treeControl"
            cdkDropList
            (cdkDropListDropped)="onNodeDrop($event)"
          >
            <mat-tree-node
              *matTreeNodeDef="let node; when: hasChild"
              matTreeNodePadding
              cdkDrag
              [cdkDragData]="node"
              (cdkDragStarted)="onDragStarted(node)"
              (cdkDragEnded)="onDragEnded(node)"
            >
              <mat-list-item class="documents-title">
                <img src="/assets/icons/folder-1485.png" /> 
              <span class="folder-name"> {{ node.name }} </span> 
          
                <!-- Toggle button -->
                <button
                  mat-icon-button
                  matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name"
                >
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                  </mat-icon>
                </button>
          
                <!-- Drag-and-Drop Handle -->
                <button mat-icon-button>
                  <mat-icon>drag_handle</mat-icon>
                </button>
              </mat-list-item>
            </mat-tree-node>
          
            <!-- Child Nodes (Non-Draggable, Non-Droppable, Non-Checkable) -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <mat-list-item>
                <mat-icon>insert_drive_file</mat-icon>
                {{ node.name }}
          
                <!-- Files display -->
                <div *ngFor="let file of node.files">
                  <p>{{ file.name }}</p>
                </div>
          
                <!-- No drag-and-drop handle for child nodes -->
                <button mat-icon-button disabled></button>
              </mat-list-item>
            </mat-tree-node>
          </mat-tree>
          
            
            
          </mat-expansion-panel>
        </mat-nav-list>
      </content>

      <footer class="sidebar-footer">
        <button mat-raised-button (click)="addFolder()">
          <img src="/assets/icons/folder-1485.png" /> Shto Dosje
        </button>
      </footer>
    </mat-sidenav>

    <!-- Main Content Area -->
    <mat-sidenav-content #content>
      <mat-toolbar class="main-toolbar">
        <button
          *ngIf="!isOpened"
          md-button
          mat-icon-button
          (click)="toggleSidebar()"
        >
          <mat-icon style="color: gray">menu</mat-icon>
        </button>
        <span style="color: gray">Mire se vini {{ userName }}</span>
        <span class="spacer"></span>
        <button mat-button (click)="logout()" matTooltip="Dilni">
          <mat-icon style="color: gray">power_settings_new</mat-icon>
        </button>
        <button style="color: gray" mat-button (click)="toggleTheme()">
          <mat-icon *ngIf="isDarkTheme">brightness_high</mat-icon>
          <mat-icon *ngIf="!isDarkTheme">brightness_medium</mat-icon>
        </button>
      </mat-toolbar>

      <div class="dashboard-content">
        <app-main></app-main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
