<div class="main-div">
    <header class="header-content">
      <mat-toolbar class="search-block mat-elevation-z4">
        <mat-toolbar-row style="padding: 0 5px">
          <mat-form-field appearance="outline" class="search-in">
            <input
              matInput
              [(ngModel)]="searchQuery"
              (ngModelChange)="onSearchChange()"
              placeholder="Kerko"
            />
            <mat-icon style="color: gray; margin-top: -13px" matPrefix
              >search</mat-icon
            >
          </mat-form-field>
          <button
            style="position: fixed; right: 35px"
            mat-icon-button
            (click)="changeGrid()"
          >
            <mat-icon style="color: gray; font-size: 20px">grid_on</mat-icon>
          </button> 
           <!-- (click)="changeParent()" -->
          <button
            style="position: fixed; right: 95px"
            mat-icon-button
          
            *ngIf="showDeleteButton"
            matTooltip="Zhvendos ne"
          >
            <mat-icon style="color: gray; font-size: 20px">redo</mat-icon>
          </button> 
           <!-- (click)="deleteMultiple()" -->
          <button
            matToolTip="Fshi"
            style="position: fixed; right: 65px"
            mat-icon-button
        
            *ngIf="showDeleteButton"
          >
            <mat-icon style="color: gray; font-size: 20px">delete</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </header>
    <div class="content" style="justify-content: center">
      <div
        class="centered"
        *ngIf="
          this.files.length === 0 || this.filterFiles.length === 0;
          else elseBlock
        "
      >
        <div class="logo">
          <img
            src="/assets/images/no-data-img.png"
            alt="Document Management Icon"
            width="250px"
            height="250px"
          />
        </div>
      </div>
      <ng-template #elseBlock>
        <!-- Grid/List View Toggle Logic -->
        <div [ngClass]="{ 'grid-view': isGridView, 'list-view': !isGridView }">
          <!-- Grid View with mat-grid-list -->
          <mat-grid-list
            *ngIf="isGridView"
            cols="4"
            rowHeight="200px"
            fxFlex
            gutterSize="16px"
            cdkDropList
            (cdkDropListDropped)="onDrop($event)"
          >
            <mat-grid-tile
              *ngFor="let subfolder of filterFiles; let i = index"
              class="file-or-folder"
              cdkDrag
              [cdkDragData]="subfolder"
            >
              <span
                [matMenuTriggerFor]="rootMenu"
                [matMenuTriggerData]="{ element: subfolder }"
                #menuTrigger="matMenuTrigger"
                class="menu-trigger"
              ></span>
              <!-- Root Menu (Context Menu) (click)="saveNodeSubfolder(subfolder)"(click)="deleteElement(subfolder)"-->
              <mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
                <ng-template matMenuContent let-element="subfolder">
                  <button mat-menu-item >
                    <mat-icon style="color: gray; font-size: 20px">edit</mat-icon>
                    <span style="color: gray; font-size: 15px">Ri- emero</span>
                  </button>
                  <button mat-menu-item   (click)="deleteFileFromSubfolder(subfolder.id)" >
                    <mat-icon style="color: gray; font-size: 20px"
                      >delete</mat-icon
                    >
                    <span style="color: gray; font-size: 15px">Fshi</span>
                  </button>
                </ng-template>
              </mat-menu>
  
              <!-- Card for Subfolder (click)="goToSubfolder(subfolder)"-->
              <mat-card (click)=" openPreview(subfolder)"
                class="subfolder-card"
                (contextmenu)="openMenu($event, subfolder, menuTrigger)"
              >
                <mat-card-header>
                  <mat-icon mat-card-avatar style="color: gray">insert_drive_file</mat-icon>
                  <mat-card-title>
                    {{ subfolder.name }}
  
                    <br />
                    <span style="font-size: 12px; color: darkgray">
                      Krijuar nga: {{ subfolder.createdBy }}
                    </span>
                  </mat-card-title>
                  <mat-card-subtitle>
                  
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p style="font-size: 12px; font-weight: 500">
                    Data e krijimit: {{ subfolder.uploadedAt | date }}
                  </p>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
  
          <!-- List View for Subfolders -->
          <div
            *ngIf="!isGridView"
            class="list-view"
            cdkDropList
            (cdkDropListDropped)="onDrop($event)"
          >
            <div
              *ngFor="let file of filterFiles; let i = index"
              class="file-or-folder"
              cdkDrag
              [cdkDragData]="file"
            >
              <span
                [matMenuTriggerFor]="rootMenu"
                [matMenuTriggerData]="{ element: file }"
                #menuTrigger="matMenuTrigger"
                class="menu-trigger"
              ></span>
              <!-- Root Menu (Context Menu) (click)="saveNodeSubfolder(file)"-->
              <mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
                <ng-template matMenuContent let-element="file">
                  <button mat-menu-item >
                    <mat-icon style="color: gray; font-size: 20px">edit</mat-icon>
                    <span style="color: gray; font-size: 15px">Ri- emero</span>
                </button>
                  <!-- (click)="deleteElement(file)" -->
                  <button mat-menu-item >
                    <mat-icon style="color: gray; font-size: 20px"
                      >delete</mat-icon
                    >
                    <span style="color: gray; font-size: 15px">Fshi</span>
                  </button>
                </ng-template>
              </mat-menu>
              <!-- (click)="goToSubfolder(file)" -->
              <!-- Card for Subfolder -->
              <mat-card
                class="subfolder-card"
                (contextmenu)="openMenu($event, file, menuTrigger)"
              >
                <mat-card-header>
                  <mat-icon mat-card-avatar style="color: gray">insert_drive_file</mat-icon>
                  <mat-card-title>
                    {{ file.name }}
                    <br />
                    <span style="font-size: 12px; color: darkgray">
                      Krijuar nga: {{ file.createdBy }}
                    </span>
                  </mat-card-title>
                  <mat-card-subtitle>
                 
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p style="font-size: 12px; font-weight: 500">
                    Data e krijimit: {{ file.uploadedAt | date }}
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <footer>
        <!--  -->
      <div class="btn-holder">
        <button mat-fab  matTooltip="Shto nje dokument" (click)="addDocument()">
          <mat-icon>add</mat-icon>
        </button> 
      </div>
    </footer>
  </div>
  




<!-- <header>
    <p>HEADER</p>
  </header>
  <div class="content">
    <div class="centered" *ngIf="this.subfolders.length === 0; else elseBlock">
      <div class="logo">
        <img
          src="/assets/images/no-data-img.png"
          alt="Document Management Icon"
          width="250px"
          height="250px"
        />
      </div>
    </div>
    <ng-template #elseBlock>
      <div
        class="container"
        fxFlex
        fxLayout="row"
        fxLayoutAlign="space-between stretch"
      >
        <div class="content" fxFlex fxLayout="row">
          <mat-grid-list cols="4" rowHeight="100px" fxFlex>
            <mat-grid-tile
              *ngFor="let subfolder of subfolders"
              class="file-or-folder"
            >
              <span
                [matMenuTriggerFor]="rootMenu"
                [matMenuTriggerData]="{ element: subfolder }"
                #menuTrigger="matMenuTrigger"
              ></span>
  
              <div fxLayout="column" fxLayoutAlign="space-between center" (click)="goToSubfolder(subfolder)" (contextmenu)="openMenu($event,subfolder, menuTrigger)">
                <mat-icon color="primary" class="file-or-folder-icon pointer" *ngIf="subfolder.isFolder">folder</mat-icon>
                <mat-icon color="primary" class="file-or-folder-icon pointer" *ngIf="!subfolder.isFolder">insert_drive_file</mat-icon>
                <span>{{subfolder.name}}</span>
              </div>
              <mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
                <ng-template matMenuContent let-element="subfolder">
                  <button
                    mat-menu-item
                    [matMenuTriggerFor]="moveToMenu"
                    [matMenuTriggerData]="{ self: subfolder }"
                  >
                    <mat-icon>open_with</mat-icon>
                    <span>Move To</span>
                  </button>
                  <button mat-menu-item (click)="saveNodeSubfolder(subfolder)">
                    <mat-icon>edit</mat-icon>
                    <span>Rename</span>
                  </button>
                  <button mat-menu-item (click)="deleteElement(subfolder)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </ng-template>
              </mat-menu>
  
              <mat-menu #moveToMenu="matMenu">
                <ng-template matMenuContent let-self="self">
                  <ng-container *ngFor="let folder of folders">
                    <button
                      *ngIf="
                        subfolder.isFolder && subfolder.parentId !== folder.id
                      "
                      mat-menu-item
                      
                    >
                      {{ subfolder.name }}
                    </button>
                  </ng-container>
                </ng-template>
              </mat-menu>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </ng-template>
  </div>
  <footer>
    <div class="btn-holder">
      <button mat-fab (click)="addDocument()" matTooltip="Shto nje dokument">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </footer> -->