.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3c8dc488;
  }
  
.actions{
    justify-content: end;
}
.dialog-button{
    background-color: #3c8dc488;
    color: white;

  }