<div class="main">
<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Mire se vini</mat-card-title>
      <mat-card-subtitle>Kycuni si perdorues ose si administrator</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="10px">
        <div fxFlex="50" fxLayout="column">
          <!-- Bind to FormGroup -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Perdoruesi</mat-label>
            <input id="code" matInput [formControlName]="'username'">
            <mat-icon style="color: gray;" matSuffix>account_circle</mat-icon>
            <mat-error *ngIf="loginForm.get('username').hasError('required')">
              Perdoruesi është i gabuar!
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50" fxLayout="column">
          <!-- Bind to FormGroup -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Fjalëkalimi</mat-label>
            <input id="code" matInput [formControlName]="'password'">
            <mat-icon style="color: gray;" matSuffix>vpn_key</mat-icon>
            <mat-error *ngIf="loginForm.get('password').hasError('required')">
              Fjalëkalimi është i gabuar!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Kycu</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</div>