<div class="login-container">
    <div class="login-card">
      <h2 class="login-title">Welcome Back!</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Username Field -->
        <mat-form-field appearance="fill" class="mat-form-field-style">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" type="text" placeholder="Enter your username" />
          <mat-error *ngIf="submitted && f['username'].errors['.required']">Username is required</mat-error>
        </mat-form-field>
  
        <!-- Password Field -->
        <mat-form-field appearance="fill" class="mat-form-field-style">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Enter your password" />
          <mat-error *ngIf="submitted && f['password'].errors['required']">Password is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        <!-- Submit Button -->
        <button mat-raised-button color="primary" type="submit" [disabled]="loading" class="login-btn">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        
        <div *ngIf="error" class="error-message">{{ error }}</div>
      </form>
    </div>
  </div>
  